.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  height: 88vh;
  margin: 20px 0 0 10px;
  overflow-y: scroll;
}

.selector {
  margin: -10px 1.6% 0 0;
  background: #fffefb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-family: "Source Sans Pro", "Roboto", "Arial";
  color: #b4b4b4;
  padding: 5px;
  cursor: pointer;
}

.selector:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.right {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.productDivImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50%;
}

.productImage {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.fade {
  width: 30%;
  margin: 10px 1.6% 1.6% 1.6%;
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  background-color: #fffefb;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 10px rgba(0, 0, 0, 0.08);
}

.product:hover .deleteButton {
  display: flex;
}

.deleteDiv {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  position: absolute;
  margin: -5px -5px 0 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ff8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.productName {
  margin: 15px 10px 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productDescription {
  height: 22%;
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.productPrice {
  margin: 15px 10px 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  .products {
    width: 65%;
  }
  .preloader {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .products {
    width: 60%;
  }
  .fade {
    width: 45%;
    margin: 10px 2% 2% 2%;
  }
  .preloader {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .products {
    width: 55%;
  }
  .preloader {
    width: 55%;
  }
}

@media screen and (max-width: 800px) {
  .products {
    width: 45%;
  }

  .fade {
    width: 100%;
    margin: 10px 10px 0 0;
  }
  .preloader {
    width: 45%;
  }
}
