.preloader {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #f2f2f0a0;
  z-index: 1;
}

.preloaderBlock {
  margin-left: 45%;
  margin-top: 40vh;
}

.preloaderRow {
  height: 10%;
  width: 10%;
  animation: preloader-rotate 1.5s infinite linear;
}

.preloaderItem {
  background-color: #ff8484;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloaderItem:last-child {
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .preloader {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .preloader {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .preloader {
    width: 55%;
  }
}

@media screen and (max-width: 800px) {
  .preloader {
    width: 45%;
  }
}
